*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: linear-gradient(to right , #480048 , #c04848);
    color: lightgreen;
}

.header{
    text-align: center;
}

.image-slider{
    margin-top: 4rem;
    width: 100%;
    height: 60vh;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.image{
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
}

img{
    z-index: 0;
    width: 100%;
    height: 100%;
    transition: transform .4s;
}

.active{
    transform: translateX(0);
}

.left{
    transform: translateX(-100%);
}

.right{
    transform: translateX(100%);
}

i{
    z-index: 1;
    color: black;
    font-size: 3rem;
    position: absolute;
    background-color: #480048;
    padding: 15px 5px;
}

.ion-ios-arrow-back{
    top: 45%;
    transform: translateY(-50%);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.ion-ios-arrow-forward{
    right: 0;
    top: 45%;
    transform: translateY(-50%);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.ion-ios-arrow-back:hover , .ion-ios-arrow-forward:hover{
    cursor: pointer;
    background-color: #c04848;
}
